<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<select id="selectNoticeList" parameterType="spring.web.vo.NoticeVO" resultType="spring.web.vo.NoticeVO">
        select * from notice
    </select>

	<insert id="insert" parameterType="spring.web.vo.NoticeVO" useGeneratedKeys="true" keyProperty="nno">
      <selectKey keyProperty="nno" resultType="int" order="BEFORE">
	    	SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	   INSERT INTO NOTICE(    NNO 
	   					      , TITLE 
	   					      , CONTENT 
	   					      , WRITER
	   					      , NIMG
	   					      , NTHUMBIMG  )
	                 VALUES(    #{nno}
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}
	                 		  , #{nImg}
	                 		  , #{nThumbImg}  )
   </insert>
   <select id="read" parameterType="int" resultType="spring.web.vo.NoticeVO">
		SELECT	NNO
			  , TITLE
			  , CONTENT
			  , WRITER
			  , REGDATE
			  , NIMG
			  , NTHUMBIMG
		 FROM NOTICE
		 WHERE NNO = #{nno}
	</select>
	<update id="update" parameterType="spring.web.vo.NoticeVO">
		UPDATE NOTICE
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		   	   NIMG = #{nImg},
		   	   NTHUMBIMG = #{nThumbImg}
		 WHERE NNO = #{nno} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM NOTICE
		 WHERE NNO = #{nno}
	</delete>
	
	
	<select id="listPage" resultType="spring.web.vo.NoticeVO" parameterType="spring.web.vo.SearchCriteria">
		SELECT  NNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE,
		        HIT
		 FROM ( 
		        SELECT NNO, 
		               TITLE, 
		               CONTENT, 
		               WRITER, 
		               REGDATE, 
		               HIT,
		               ROW_NUMBER() OVER(ORDER BY NNO DESC) AS RNUM
		         FROM NOTICE
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       )
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY NNO DESC
	</select>
	
	<select id="listCount" parameterType="spring.web.vo.SearchCriteria" resultType="int">
		SELECT COUNT(NNO)
		   FROM NOTICE, MEMBER
		   WHERE 1=1
		<include refid="search"></include>	
		   AND NNO > 0
	</select>
	
     <!-- 게시판 조회수 -->
    <update id="noticeHit" parameterType="int">
    	UPDATE NOTICE SET
    	HIT = HIT+1
    	WHERE NNO = #{nno}
    </update>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
</mapper>